<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1030094707130-8g3n162uia36395jk5ov2qt4pde9tpfn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwazvnUOPHTCmgE8kaY8xakXWz_am6NBw</string>
	<key>GCM_SENDER_ID</key>
	<string>1030094707130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rise.lite</string>
	<key>PROJECT_ID</key>
	<string>deux-298b4</string>
	<key>STORAGE_BUCKET</key>
	<string>deux-298b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030094707130:ios:346aacdb4dac0b5e19a583</string>
	<key>DATABASE_URL</key>
	<string>https://deux-298b4.firebaseio.com</string>
</dict>
</plist>